//  * This is a manifest file that'll be compiled into application.css, which will include all the files
//  * listed below.
//  *
//  * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
//  * vendor/assets/stylesheets directory can be referenced here using a relative path.
//  *
//  * You're free to add application-wide styles to this file and they'll appear at the bottom of the
//  * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
//  * files in this directory. Styles in this file should be added after the last require_* statement.
//  * It is generally better to create a new file per style scope.
//  *
//  *= require_tree .
//  *= require_self

@import 'font-awesome-sprockets';
@import 'font-awesome';
@import 'bootstrap';
@import 'select2';
@import 'select2-bootstrap';


// Default style
.content { padding-bottom: 5em; }
a:hover { background-color: transparent; }

// Center elements (mainly used in tables):
.centered { text-align: center; }

// Styling of links displayed as buttons:
.btn.visited { &:visited { color: #fff; } }
.breadcrumb a { &:hover { background-color: transparent; } }

// Table styling specifics:
.actions {
  a {
    color: $blue;
    &:hover { color: #0056b3; }
    // &:hover { background-color: transparent; }
  }
}