// Place all the styles related to the organizations controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#organizations {
  .pagination { justify-content: center; }
  .return-link {
    color: blue;
    &:hover { background-color: transparent; }
  }

  .tools .search form {
    float: right;
    display: inline-flex;
    .fulltext_search_term input[type="text"] {
      border-bottom-right-radius: 0;
      border-top-right-radius: 0;
    }
    button[type="submit"] {
      border-bottom-left-radius: 0;
      border-top-left-radius: 0;
    }
  }

  .criterium { margin-left: 1em; }

  .taxos {}
}