<%= simple_form_for(@mission) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-inputs">
    <section class="mission">
      <div class="col-7"><%= f.input :title %></div>
      <div class="col-5"><%= f.input :organization_id, collection: organizations_for_select %></div>
    </section>
    <section class="criteria">
      <div class="col-7">
        <%= f.input :function_id, collection: grouped_functions_for_select, as: :grouped_select, group_method: :functions %>
      </div>
      <!-- <p>Criteria</p> -->
      <div class="col-7"><%= f.association :areas, collection: nested_areas_for_select %></div>
      <div class="col-7"><%= f.association :business_markets, collection: nested_business_markets_for_select %></div>
      <div class="col-7"><%= f.association :structures, collection: nested_structures_for_select %></div>
      <div class="col-7"><%= f.association :market_targets, collection: nested_market_targets_for_select %></div>
      <div class="col-5"><%= f.association :region %></div>
    </section>
  </div>

  <div class="form-actions">
    <%= f.button :submit, class: 'btn-primary' %>
    <%= link_to 'Cancel', missions_path, class: 'btn btn-danger' %>
  </div>
<% end %>
