<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><%= link_to 'Home', root_path %></li>
    <li class="breadcrumb-item active" aria-current="page">Edit Mission</li>
  </ol>
</nav>

<h1 class="display-4">Editing Mission</h1>

<div class="form col-10">
  <%= render 'form', mission: @mission %>
</div>