<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item active" aria-current="page">Home</li>
  </ol>
</nav>

<p id="notice"><%= notice %></p>

<h1 class="display-4">Missions</h1>

<br />
<div><%= link_to 'New Mission', new_mission_path, class: 'btn btn-primary visited' %></div>
<br />

<table class="table table-striped table-bordered">
  <thead class="thead-dark">
    <tr>
      <th scope="col">Title</th>
      <th scope="col">Customer title</th>
      <th scope="col" class="centered">Creation Date</th>
      <th scope="col" class="centered">Last Update Date</th>
      <th scope="col" class="centered">Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @missions.each do |mission| %>
      <tr>
        <td><%= mission.title %></td>
        <td><%= mission.organization.name %></td>
        <td class="centered"><%= mission.created_at %></td>
        <td class="centered"><%= mission.updated_at %></td>
        <td class="centered actions">
          <%= link_to icon('fas', 'search'), mission_organizations_search_path(mission) %>
          <%= link_to icon('fas', 'edit'), edit_mission_path(mission) %>
          <%= link_to icon('fas', 'trash'), mission, method: :delete, data: { confirm: 'Are you sure?' } %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<%- if false #@missions.any? -%>
  <div><%= link_to 'New Mission', new_mission_path %></div>
<%- end -%>
