
<%= simple_form_for(@organization) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-inputs">
    <section class="mission">
      <div class="col-7"><%= f.input :name %></div>
      <div class="col-7"><%= f.association :region %></div>
      <div class="col-7">
        <% #= f.association :functions, collection: grouped_functions_for_select, as: :grouped_select, group_method: :functions, input_html: { multiple: true } %>
      </div>
    </section>

    <section class="taxonomies">
      <div class="col-7">
        <%= f.association :areas, collection: nested_areas_for_select %>
      </div>
      <div class="col-7">
        <%= f.association :business_markets, label: 'Business Model', collection: nested_business_markets_for_select %>
      </div>
      <div class="col-7">
        <%= f.association :structures, collection: nested_structures_for_select %>
      </div>
      <div class="col-7">
        <%= f.association :market_targets, collection: nested_market_targets_for_select %>
      </div>
    </section>
  </div>

  <div class="form-actions">
    <%= f.button :submit, class: 'btn-primary' %>
    <%= link_to 'Cancel', organizations_path, class: 'btn btn-danger' %>
  </div>
<% end %>
