<%= simple_form_for :fulltext_search, method: 'get', url: organizations_url, html: { class: "form-inline" } do |f| %>
  <div class="input-group">
    <%= f.input :term, label: false, required: false %>
    <span class="input-group-btn">
      <%= f.button :button, class: 'btn-secondary' do %>
        <%= icon('fas', 'search') %>
      <% end %>
    </span>
  </div>
<% end %>