<table class="table table-striped table-bordered">
  <thead class="thead-dark">
    <tr class="m-0">
      <th scope="col" class="">Name</th>
      <th scope="col" class="centered">Region</th>
      <th scope="col" class="taxos">Area</th>
      <th scope="col" class="taxos">Business Model</th>
      <th scope="col" class="taxos">Structure</th>
      <th scope="col" class="taxos">Market Target</th>
      <th scope="col" class="centered">Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @organizations.each do |organization| %>
      <tr class="">
        <td class=""><%= organization.name %></td>
        <td class="centered"><%= display_region_name(organization.region) %></td>
        <td class="taxos"><%= display_taxonomies(organization.areas) %></td>
        <td class="taxos"><%= display_taxonomies(organization.business_markets) %></td>
        <td class="taxos"><%= display_taxonomies(organization.structures) %></td>
        <td class="taxos"><%= display_taxonomies(organization.market_targets) %></td>
        <td class="centered actions">
          <%= link_to icon('fas', 'edit'), edit_organization_path(organization), class: 'hang-hover visited' %>
          <%= link_to icon('fas', 'trash'), organization, method: :delete, data: { confirm: 'Are you sure?' }, redirect_to: request.referer %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<%= will_paginate @organizations %>
