<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><%= link_to 'Organizations', organizations_path %></li>
    <li class="breadcrumb-item active" aria-current="page">Edit Organization</li>
  </ol>
</nav>

<h1 class="display-4">Editing <%= @organization.name %></h1>

<div class="form col-10">
  <%= render 'form', organization: @organization %>
</div>
