<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item" aria-current="page">Home</li>
    <li class="breadcrumb-item active" aria-current="page">Organizations</li>
  </ol>
</nav>

<p id="notice"><%= notice %></p>

<h1 class="display-4">Organizations</h1>

<br />
<div class="tools row">
  <div class="new col-lg-6">
    <%= link_to 'New Organization', new_organization_path, class: 'btn btn-primary visited' %>
  </div>
  <div class="search col-lg-6">
    <%= render 'fulltext_search' %>
  </div>
</div>
<br />

<%= render 'list' %>