<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><%= link_to 'Home', root_path %></li>
    <li class="breadcrumb-item"><%= link_to "#{@mission.title}", edit_mission_path(@mission) %></li>
    <li class="breadcrumb-item active" aria-current="page">Search</li>
  </ol>
</nav>

<p id="notice"><%= notice %></p>

<h1 class="display-4"><%= "Search for #{@organization.name}" %></h1>
<br />

<div>
  <h2>Search criteria</h2>
  <% criteria = search_criteria(@organization.name) %>
  <dl>
    <dt>Areas:</dt>
    <% criteria[:areas].each do |area| %>
      <dd><span class="criterium"><%= area.to_label %></span></dd>
    <% end %>
    <dt>Business Market:</dt>
    <% criteria[:business_markets].each do |business_market| %>
      <dd><span class="criterium"><%= business_market.to_label %></span></dd>
    <% end %>
    <dt>Structure:</dt>
    <% criteria[:structures].each do |structure| %>
      <dd><span class="criterium"><%= structure.to_label %></span></dd>
    <% end %>
    <dt>Market Target:</dt>
    <% criteria[:market_targets].each do |market_target| %>
      <dd><span class="criterium"><%= market_target.to_label %></span></dd>
    <% end %>
  </dl>
</div>

<br />

<% if @organizations.any? %>
  <%= render 'list' %>
<% else %>
  <br />
  <p>
    No result found for this mission search, click
    <%= link_to 'here', edit_mission_path(@mission), class: 'return-link' %>
     to return to the mission
  </p>
<% end %>