<!DOCTYPE html>
<html>
  <head>
    <title>HFA-Prototype-Base</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <header class="navbar navbar-expand-lg navbar-dark bg-dark">
      <!-- <a class="navbar-brand" href="/">HFA Prototype Base</a> -->
      <%= link_to "HFA-Prototype-Base", root_path, class: "navbar-brand" %>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <%= link_to "Organizations", organizations_path, class: ["nav-item", "nav-link", navlink_active?('organizations')] %>
          <%= link_to "Missions", missions_path, class: ["nav-item", "nav-link", navlink_active?('missions')] %>
        </div>
      </div>
    </header>

    <br />

    <div class="container-fluid">
      <div id=<%= controller_name %> class= "row" >
        <div class="col-2"></div>
        <div class="content col">
          <%= yield %>
        </div>
        <div class="col-2"></div>
      </div>
    </div>
  </body>
</html>
